<div class="container mt-3">
  <h2><span class="h2 mb-0"><span data-lang="dashboard">Dashboard</span></span></h2>
  <p><span data-lang="welcome to the admin dashboard">Welcome to the admin dashboard.</span></p>
</div>
